@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Space+Grotesk:wght@300..700&display=swap');
@import "tailwindcss";
body{
  font-family: 'Space Grotesk',sans-serif;
  /* background-color: rgb(234, 241, 241); */
  /* background: linear-gradient(0deg,rgba(255, 255, 255, 1) 0%, rgba(95, 217, 209, 1) 100%); */
}
h1,h2,h3,h4{
  font-family: 'Orbitron',sans-serif;
}
@keyframes float {
  0%,100%{transform: translateY(0);}

}
  .floating{
    animation: float 6s ease-in-out;
  }
  
  .font-orbitron{
    font-family: 'Orbitron';
  }
  
  html {
  scroll-behavior: smooth;
}
